<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">Back</ion-back-button>
    </ion-buttons>
    <ion-title> Crea Evento </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header color="primary">
    <h2> Nuovo Evento</h2><br>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="fixed">Nome : </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed >Descrizione : </ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
    <ion-label> </ion-label>
    <ion-item>
      <ion-label>Categoria : </ion-label>
      <ion-select multiple="false" cancelText="Cancel" okText="Ok">
        <ion-select-option value="sport">Sport</ion-select-option>
        <ion-select-option value="didattico">Didattico</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button color="primary" (click)="HomeP()">Pubblica</ion-button>
</ion-content>
