ion-title{
    position: absolute;
    left: 43%;
    top: 30%;
}
ion-card{
    position: relative;
    width: 70%;
    top: 10%;
    left: 14%;
    text-align: center;
}
ion-button{
    position: absolute;
    top: 60%;
    left: 45%;
}