<ion-app>
  <ion-menu side="start" type="overlay" contentId="content1">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="light-grey">
        <ion-list>
          <ion-item (click)="datipersonali()" [routerLink]="['datipersonali']" routerLinkActive="active-link" >Dati Personali</ion-item>
          <ion-item (click)="creaevento()" [routerLink]="['creaevento']" routerLinkActive="active-link">Crea Evento</ion-item>
          <ion-item (click)="logout()" >Logout</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>