<ion-content padding class="background">
  <div class="head">
    <h1>Registrati a</h1>
    <h1> JUSTMEET </h1>
  </div>
    <ion-card class="inputs">
    <ion-list>
      <ion-item class="i1"> 
        <ion-label position="floating"> Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="i2">
        <ion-label position="floating"> Cognome </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="i3"> 
        <ion-label position="floating"> Città </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="i4"> 
        <ion-label position="floating"> Email </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="i5"> 
        <ion-label position="floating"> Password </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button class="b1" color="danger" (click)="HomeP()">SingUp</ion-button>
  </ion-content>