ion-content.background{
    --background: url(/assets/img/home.jpg) 0 0/100% 100% no-repeat;
  }
  .head{
    position: absolute;
    top: 10%;
    left: 45%;
    color: #fff;
  }
  
  ion-card.inputs{
    position: absolute;
    display: block;
    top :30%;
    left :25%;
    width: 50%;
    color: #fff;
    opacity: 0.6;
  }
  ion-item {
    background: transparent!important;
    border: 1px solid #fff!important;
  }
  
  .b1{
    position: absolute;
    top: 80%;
    left: 43%;
    width: 15%;
    opacity: 0.7;
  }
  .i1{
    text-align: center;
  }
  .i2{
    text-align: center;
  }
  .i3{
    text-align: center;
  }
  .i4{
    text-align: center;
  }
  .i5{
    text-align: center;
  }