<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Dati personali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      <h2>Ciao: {{ (datiProfilo | async)?.username }}</h2>
    </ion-item>

    <ion-card-content>
      <p>Email :{{ (datiProfilo |async)?.email}}</p>
      <p>Nome  :{{ (datiProfilo | async)?.name }}</p>
      <p>Cognome :{{ (datiProfilo |async)?.surname }}</p>
      <p>Città :{{ (datiProfilo |async)?.city}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>