    <ion-content padding class="background">
    <div class="head">
      <h1>JUSTMEET</h1>
    </div>
      <ion-card class="inputs">
      <ion-list>
        <ion-item class="i1"> 
          <ion-label position="floating"> Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="i2">
          <ion-label position="floating"> Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button class="b1" (click)="HomeP()">Login</ion-button>
    <ion-button class="b2" color="danger" (click)="Singup()">SingUp</ion-button>
    </ion-content>